.float-left-50 {
    float: left;
    max-width: 50%;
    margin: 0.5rem 1rem 0.5rem 0;
}

.float-left-50 img {
    width: 100%;
    height: auto;
    display: block;
}

@media screen and (max-width:600px) {
    .float-left-50 {
        float: none;
        max-width: 100%;
    }

    .float-left-50 img {
        max-height: 400px;
        width: auto;
        margin-left: 0;
    }
}